[gcode_macro _HOME_X]
gcode:
    # Home
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.40 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    #SET_KINEMATIC_POSITION X=5
    #G91
    #G0 X-5 F1200
    #G90
    #G4 P1000

    # Home
    G28 X
    
    # Move away
    G91
    G0 X5 F1200
    G90

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.40 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    #SET_KINEMATIC_POSITION X=5
    #G91
    #G0 X-5 F1200
    #G90
    #G4 P1000

    # Home
    G28 Y
    
    # Move away
    G91
    G0 Y5 F1200
    G90

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

    # Wait just a second… (give StallGuard registers time to clear)
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[homing_override]
axes: xyz
gcode:
  {% set config   = printer['configfile'].config %}

  # bed mesh must be cleared prior to homing
  # if bed mesh reloading is requested, the current profile name
  # must be stored to be reloaded later
  {% if 'bed_mesh' in config %}
    {% if printer.bed_mesh.profile_name %} 
      {% set lastMeshProfile = printer.bed_mesh.profile_name %}
    {% endif %}
    BED_MESH_CLEAR
  {% endif %}
 
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  SET_KINEMATIC_POSITION Z=1
  G91
  G0 Z6 F1200
  G90

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}

    G90
    G0 X145 Y155 F15000 # centre du lit pour le pointeur BLT (section [safe_z_home] commentée)

    G28 Z

    G0 Z10 F1500
  {% endif %}

  {% if 'bed_mesh' in config and lastMeshProfile %}
    BED_MESH_PROFILE LOAD={ lastMeshProfile }
    { action_respond_info("Loaded Bed Mesh Profile (%s)" % (lastMeshProfile)) }
  {% endif %}


[gcode_macro _CG28]
description: Homing only if necessary
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
